name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm install

      - name: Compile Silicon
        run: node silicon-compiler/compiler.cjs

      - name: Compile Typescript
        run: npx tsc

      - name: Depoly
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ./
