name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm install

      - name: Compile Silicon
        run: silicon-compiler/silicon.bat

      - name: Compile Typescript
        run: npx tsc

      - name: Depoly
        uses: JamesIves/github-pages-depoly-action@v4
        with:
          branch: gh-pages
          folder: /
